#myVideo {
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 75%;
  }
  
.top-container {
  background-image: url("https://static.wixstatic.com/media/51b396_19e4dfa053e645ea93ee32facc5dbb68~mv2.png/v1/fill/w_144,h_130,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo%20Site%20without%20name.png");
  background-color: black;
  margin: 0;
  padding: 50%;
}

.body {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.intro-div{
  position: relative;
  text-align: center;
}

.name {
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Merriweather', serif;
  position: absolute;
  top: 50px;
  right: 50px;
  color: whitesmoke
}
  
  .brief-intro {
    position: absolute;
    top: 50%;
    font-size: 30px;
    width: 30%;
    color: white;
  }

  .dp {
    border-radius: 100%;
    
    width: 15%;
  }